# Файлы, специфичные для пользователя
*.suo
*.user
*.sln.docstates

# Результаты сборки
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
# папка build теперь используется для скриптов сборки и не должна игнорироваться
#build/

# Пакеты NuGet
*.nupkg
# Папку packages можно игнорировать благодаря функции восстановления пакетов
/packages/*
# за исключением build/, который используется в качестве цели MSBuild.
!/packages/build/
# Разкомментируйте, если необходимо, однако обычно он будет регенерирован при необходимости
#!/packages/repositories.config

# Результаты тестов MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc

# Кэш-файлы Visual C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Профайлер Visual Studio
*.psess
*.vsp
*.vspx

# Набор инструментов для автоматизации руководства
*.gpState

# ReSharper – это дополнение к кодированию на .NET
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity – это дополнение для сборки
_TeamCity*

# DotCover – инструмент для покрытия кода
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Выходная папка Installshield
[Ee]xpress/

# DocProject – это дополнение для генерации документации
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Директория Click-Once
publish/

# Вывод публикации веб-приложения
*.Publish.xml

# Вывод сборки Windows Azure
csx
*.build.csdef

# Каталог пакета приложения Windows Store
AppPackages/

# Прочие файлы
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
modulesbin/
tempbin/

# Файл сайта EPiServer (VPP)
AppData/

# Проекты RIA/Silverlight
Generated_Code/

# Резервные копии и отчёты о преобразовании старого файла проекта в новую версию Visual Studio. Файлы резервных копий не нужны, так как у нас есть git 😉
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Vim
*.txt~
*.swp
*.swo

# Временные файлы при открытии LibreOffice на Ubuntu
.~lock.*

# SVN
.svn

# Система контроля версий CVS
/CVS/

# Остатки от разрешения конфликтов в системе контроля версий
*.orig

# Файлы SQL Server
/App_Data/*.mdf
/App_Data/*.ldf
/App_Data/*.sdf

# Сгенерированные файлы LightSwitch
GeneratedArtifacts/
_Pvt_Extensions/
ModelManifest.xml

# =========================
# Мусорные файлы Windows
# =========================

# Кэш изображений Windows
Thumbs.db
ehthumbs.db

# Конфигурационный файл папки
Desktop.ini

# Корзина, используемая на общих файлах
$RECYCLE.BIN/

# Системные файлы ОС
Icon?

# Файлы службы рабочего стола Mac
.DS_Store

# Кэш компилятора SASS
.sass-cache

# Предварительная версия Visual Studio 2014
/*.sln.ide

# Что-то временное от Visual Studio
.vs/

# Структура .NET
project.lock.json

# VS 2015+
*.vc.vc.opendb
*.vc.db

# Rider
.idea/

# Visual Studio Code
.vscode/

# Папка вывода, используемая Webpack или другими инструментами фронтенда
/node_modules/*
/wwwroot/*

# Специфические для SpecFlow
*.feature.cs
*.feature.xlsx.*
*.Specs_*.html

# Проекты UWP
AppPackages/
# Конец основного списка игнорирования, ниже добавляйте свои настройки (шаблоны или пути) для каждого проекта
#####